Repository kriasoft/ws-kit: changes, and which Codecov flags are due for each by the changed paths.
All: core, bun, cloudflare-do, client, middleware, redis-pubsub, zod, valibot, adapters

.codecov.yml:

# .codecov.yml â€” Coverage configuration for WS-Kit
# Optimized for a public TypeScript monorepo with multiple platform/validator adapters

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 1

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 2%
        base: auto
    patch:
      default:
        target: 77%
        threshold: 1%

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: no

# Exclude test, build, and documentation artifacts from coverage calculations
ignore:
  - "dist"
  - "build"
  - "**/node_modules"
  - "**/test/"
  - "**/test-utils/"
  - "**/__tests__/"
  - "**/__mocks__/"
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/test/**/*.ts"
  - "examples/"
  - "docs/"
  - "posts/"
  # Platform-specific integration code not covered by unit tests
  - "packages/bun/src/serve.ts" # Bun server initialization and HTTP integration
  - "packages/bun/src/websocket.ts" # Bun WebSocket platform bindings
  # Utilities and infrastructure not critical to core business logic
  - "packages/core/src/logger.ts" # Logging infrastructure
  - "packages/core/src/throttle.ts" # Throttling utilities (not currently in use)
  - "packages/core/src/utils.ts" # Helper utilities with limited usage

# Track coverage separately per package for visibility in the Codecov UI
flags:
  # Core router (foundation for all packages)
  core:
    paths:
      - "packages/core/src/"
    carryforward: yes

  # Platform adapters
  bun:
    paths:
      - "packages/bun/src/"
  cloudflare-do:
    paths:
      - "packages/cloudflare-do/src/"

  # Client SDK
  client:
    paths:
      - "packages/client/src/"

  # Middleware utilities
  middleware:
    paths:
      - "packages/middleware/src/"

  # PubSub adapters
  redis-pubsub:
    paths:
      - "packages/redis-pubsub/src/"

  # Validator adapters
  zod:
    paths:
      - "packages/zod/src/"
  valibot:
    paths:
      - "packages/valibot/src/"

  # Shared adapter contracts
  adapters:
    paths:
      - "packages/adapters/src/"

feat(pubsub): implement excludeSelf support for ctx.publish()
  packages/core/test/features/publish-exclude-self.test.ts
  packages/pubsub/src/plugin.ts
  packages/pubsub/test/features/exclude-self.test.ts
Due: none

refactor(core,zod,valibot): consolidate schema metadata to core
  packages/core/src/internal.ts
  packages/core/src/schema/metadata.ts
  packages/valibot/src/internal.ts
  packages/valibot/src/metadata.ts
  packages/valibot/src/plugin.ts
  packages/valibot/src/runtime.ts
  packages/zod/src/internal.ts
  packages/zod/src/plugin.ts
  packages/zod/src/runtime.ts
Due: core, zod, valibot

docs: update README title and description
  README.md
Due: none

docs: update README and CLAUDE.md for plugins package migration
  CLAUDE.md
  README.md
  docs/adr/031-plugin-adapter-architecture.md
  docs/proposals/rpc.md
  docs/specs/adapters.md
  docs/specs/context-methods.md
  docs/specs/plugins.md
  packages/core/test/plugins/composition.test.ts
  packages/core/test/plugins/messaging/send-basic.test.ts
  packages/core/test/plugins/rpc/reply-basic.test.ts
  packages/plugins/README.md
  packages/pubsub/README.md
  packages/valibot/src/index.ts
  packages/valibot/src/plugin.ts
  packages/zod/src/index.ts
  packages/zod/src/plugin.ts
Due: zod, valibot

fix: add missing .plugin(withZod()) calls to examples
  examples/bun-zod-chat/index.ts
  examples/delta-sync/server.ts
  examples/flow-control/server.ts
  examples/quick-start/chat.ts
  examples/quick-start/index.ts
  examples/state-channels/server.ts
Due: none

refactor: consolidate memory adapters to @ws-kit/memory
  docs/adr/031-plugin-adapter-architecture.md
  docs/specs/plugins.md
  packages/core/src/adapters/pubsub/memory.ts
  packages/core/src/adapters/pubsub/types.ts
  packages/core/src/adapters/rate-limit/memory.ts
  packages/core/src/adapters/rate-limit/types.ts
  packages/core/src/index.ts
  packages/core/test/features/publish-typed.test.ts
Due: core

fix: update adapter type imports after consolidation to @ws-kit/memory
  bun.lock
  packages/core/src/plugins/pubsub/types.ts
  packages/core/src/plugins/rate-limit/types.ts
  packages/memory/package.json
  packages/plugins/package.json
  packages/plugins/tsconfig.json
  packages/plugins/tsconfig.test.json
Due: core

docs: update adapter import paths after consolidation to @ws-kit/memory
  docs/proposals/rpc.md
  docs/specs/adapters.md
  packages/plugins/README.md
  packages/pubsub/README.md
Due: none

docs: fix remaining adapter import path in rate-limit section
  docs/specs/adapters.md
Due: none

docs: fix remaining @ws-kit/adapters/* import paths
  docs/specs/adapters.md
  docs/specs/router.md
Due: none

refactor: move plugin tests from core to plugins package
  packages/plugins/test/composition.test.ts
  packages/plugins/test/messaging/send-basic.test.ts
  packages/plugins/test/rpc/reply-basic.test.ts
Due: none

refactor: consolidate withPubSub plugin into @ws-kit/pubsub
  bun.lock
  packages/memory/tsconfig.json
  packages/plugins/package.json
  packages/plugins/src/index.ts
  packages/plugins/src/pubsub/index.ts
  packages/plugins/src/pubsub/types.ts
  packages/plugins/tsconfig.json
  packages/pubsub/package.json
  packages/pubsub/src/index.ts
  packages/pubsub/src/plugin.ts
  packages/pubsub/src/types.ts
  packages/valibot/src/index.ts
  packages/valibot/tsconfig.json
  packages/zod/src/index.ts
  packages/zod/tsconfig.json
Due: zod, valibot

docs: fix canonical import paths for plugins and adapters
  CLAUDE.md
  README.md
  docs/adr/021-adapter-first-architecture.md
  docs/adr/031-plugin-adapter-architecture.md
  docs/adr/032-canonical-imports-design.md
  docs/adr/README.md
  docs/specs/README.md
  docs/specs/adapters.md
  docs/specs/canonical-imports.md
  docs/specs/context-methods.md
  docs/specs/plugins.md
Due: none

fix: remove self-referential tsconfig reference in plugins package
  bun.lock
  docs/adr/032-canonical-imports-design.md
  docs/guides/rate-limiting.md
  docs/proposals/rate-limiting.md
  docs/specs/adapters.md
  docs/specs/router.md
  docs/specs/schema.md
  packages/middleware/src/auth.ts
  packages/middleware/src/index.ts
  packages/middleware/src/logging.ts
  packages/middleware/src/metrics.ts
  packages/middleware/src/telemetry.ts
  packages/plugins/tsconfig.json
  packages/rate-limit/src/index.ts
  packages/valibot/package.json
  packages/valibot/src/index.ts
  packages/valibot/tsconfig.json
  packages/zod/package.json
  packages/zod/src/index.ts
  packages/zod/tsconfig.json
Due: middleware, zod, valibot

docs: update Architecture section with all packages and clear organization
  README.md
Due: none

test: add smoke test and improve test structure
  bun.lock
  package.json
  packages/cloudflare/package.json
  packages/core/package.json
  packages/core/src/core/router.ts
  packages/core/test/README.md
  packages/core/test/integration/basic-usage.test.ts
  packages/core/test/integration/smoke-test.test.ts
  packages/core/tsconfig.test.json
Due: core

test: add smoke test and improve test structure (#57)
  bun.lock
  package.json
  packages/cloudflare/package.json
  packages/core/package.json
  packages/core/src/core/router.ts
  packages/core/test/README.md
  packages/core/test/integration/basic-usage.test.ts
  packages/core/test/integration/smoke-test.test.ts
  packages/core/tsconfig.test.json
Due: core

fix: validate MessageDescriptor invariants at route registration
  packages/core/src/core/route-table.ts
  packages/core/src/protocol/message-descriptor.ts
  packages/core/test/core/route-table.test.ts
  packages/core/test/protocol/message-descriptor.test.ts
Due: core

fix: validate MessageDescriptor invariants at route registration (#58)
  packages/core/src/core/route-table.ts
  packages/core/src/protocol/message-descriptor.ts
  packages/core/test/core/route-table.test.ts
  packages/core/test/protocol/message-descriptor.test.ts
Due: core

refactor: move core plugins to @ws-kit/plugins package
  docs/adr/031-plugin-adapter-architecture.md
  docs/message-schemas.md
  docs/proposals/rpc.md
  docs/specs/plugins.md
  docs/specs/rules.md
  docs/specs/schema.md
  packages/core/package.json
  packages/core/src/plugins/index.ts
  packages/core/src/plugins/messaging/index.ts
  packages/core/src/plugins/messaging/types.ts
  packages/core/src/plugins/pubsub/types.ts
  packages/core/src/plugins/rate-limit/types.ts
  packages/core/src/plugins/rpc/index.ts
  packages/core/src/plugins/rpc/types.ts
  packages/core/src/plugins/validation/types.ts
  packages/plugins/src/messaging/index.ts
Due: core

refactor: consolidate plugins in @ws-kit/plugins (#59)
  docs/adr/031-plugin-adapter-architecture.md
  docs/message-schemas.md
  docs/proposals/rpc.md
  docs/specs/plugins.md
  docs/specs/rules.md
  docs/specs/schema.md
  packages/core/package.json
  packages/core/src/plugins/index.ts
  packages/core/src/plugins/messaging/index.ts
  packages/core/src/plugins/messaging/types.ts
  packages/core/src/plugins/pubsub/types.ts
  packages/core/src/plugins/rate-limit/types.ts
  packages/core/src/plugins/rpc/index.ts
  packages/core/src/plugins/rpc/types.ts
  packages/core/src/plugins/validation/types.ts
  packages/plugins/src/messaging/index.ts
Due: core

fix: clean up MessageDescriptor validation without type errors
  packages/core/src/protocol/message-descriptor.ts
Due: core

fix: align Bun WebSocket upgrade handler with platform contract (ADR-034)
  docs/adr/034-bun-upgrade-return-semantics.md
  docs/adr/README.md
  packages/bun/README.md
  packages/bun/src/adapter.ts
  packages/bun/src/handler.ts
  packages/bun/src/index.ts
  packages/bun/src/pubsub.ts
  packages/bun/src/types.ts
  packages/bun/test/adapter.test.ts
  packages/bun/test/handler.test.ts
  packages/bun/test/integration.test.ts
  packages/bun/test/pubsub.test.ts
  packages/client/valibot/src/index.ts
  packages/client/zod/src/index.ts
  packages/cloudflare/src/adapter.ts
  packages/cloudflare/src/handler.ts
  packages/cloudflare/src/pubsub.ts
  packages/cloudflare/src/types.ts
  packages/cloudflare/test/adapter.test.ts
  packages/pubsub/src/core/topics.ts
  packages/pubsub/src/plugin.ts
  packages/pubsub/src/test-utils.ts
  packages/rate-limit/src/keys.ts
  packages/rate-limit/src/middleware.ts
  packages/rate-limit/test/rate-limit.test.ts
Due: bun

refactor: implement ADR-035 Bun adapter refinement
  docs/adr/035-bun-adapter-refinement.md
  docs/adr/README.md
  packages/bun/README.md
  packages/bun/package.json
  packages/bun/src/handler.ts
  packages/bun/src/index.ts
  packages/bun/src/serve.ts
  packages/bun/src/types.ts
  packages/bun/src/uuid.d.ts
  packages/bun/test/handler.test.ts
  packages/bun/test/types/index.test.ts
Due: bun

refactor: polish Bun adapter API naming and types (ADR-035)
  bun.lock
  packages/bun/README.md
  packages/bun/package.json
  packages/bun/src/adapter.ts
  packages/bun/src/handler.ts
  packages/bun/src/index.ts
  packages/bun/src/pubsub.ts
  packages/bun/src/serve.ts
  packages/bun/src/types.ts
  packages/bun/src/websocket.ts
  packages/bun/test/adapter.test.ts
  packages/bun/test/fixtures.ts
  packages/bun/test/handler.test.ts
  packages/bun/test/integration.test.ts
  packages/bun/test/pubsub.test.ts
  packages/bun/test/types/index.test.ts
  packages/bun/tsconfig.test.json
Due: bun

docs: align documentation with ADR-033 and @ws-kit/bun refinements
  CLAUDE.md
  README.md
  docs/adr/001-message-context-conditional-payload-typing.md
  docs/specs/schema.md
  docs/specs/validation.md
  packages/bun/README.md
  packages/rate-limit/README.md
Due: none

fix: add @ws-kit/rate-limit as peer dependency for memory adapter
  bun.lock
  packages/memory/package.json
Due: none

fix: escape angle brackets in markdown documentation
  docs/adr/030-context-methods-design.md
  docs/proposals/plugin-architecture.md
Due: none

fix: correct dead links in documentation
  docs/client-setup.md
  docs/core-concepts.md
  docs/plugin-author-guide.md
  docs/specs/pubsub.md
Due: none

fix formatting
  packages/core/src/capabilities/validation/contracts.ts
  packages/core/src/error/codes.ts
  packages/core/src/options/heartbeat.ts
  packages/core/src/options/limits.ts
  packages/core/src/plugin/telemetry-bridge.ts
  packages/core/src/utils/assert.ts
  packages/core/src/utils/json.ts
  packages/core/test/features/merge-mount.test.ts
  packages/core/test/features/message-dispatch.test.ts
  packages/core/test/features/validation-plugin.test.ts
  packages/core/test/types/capability-gating.test.ts
  packages/plugins/src/rpc/index.ts
Due: core

refactor: add type-safe on/rpc methods with automatic payload inference
  packages/core/test/features/rpc-incomplete-warning.test.ts
  packages/valibot/src/plugin.ts
  packages/zod/src/plugin.ts
  packages/zod/src/runtime.ts
  packages/zod/src/types.ts
  packages/zod/test/types/payload-inference.test.ts
Due: zod, valibot

fix: resolve 29 of 35 failing core tests via plugin-gating refactor
  packages/core/test/features/dispatch.test.ts
  packages/core/test/features/plugin-enhancers.test.ts
  packages/core/test/features/pubsub-capture.test.ts
  packages/core/test/features/rpc-incomplete-warning.test.ts
  packages/core/tsconfig.test.json
Due: none

refactor: extract schema branding to core and simplify validation plugin API
  docs/adr/029-context-enhancer-registry-plugin-safety.md
  docs/specs/plugins.md
  docs/specs/validation.md
  packages/core/src/context/base-context.ts
  packages/core/src/core/router.ts
  packages/core/src/index.ts
  packages/core/src/plugin/define.ts
  packages/core/src/protocol/schema.ts
  packages/core/test/features/validation-plugin.test.ts
  packages/plugins/src/rpc/index.ts
  packages/plugins/src/rpc/types.ts
  packages/valibot/src/plugin.ts
  packages/zod/src/plugin.ts
  packages/zod/src/types.ts
Due: core, zod, valibot

refactor: finalize opaque transport design and align tests with API
  docs/adr/033-opaque-transport-canonical-connection-data.md
  packages/core/test/features/middleware.test.ts
  packages/core/test/features/timestamp-usage.test.ts
  packages/core/test/types/index.test.ts
  posts/2025-05-04_building-websocket-router.md
  posts/2025-10-08_two-timestamps-one-message.md
  posts/2025-11-04_token-bucket-policies.md
Due: none
