Repository kriasoft/ws-kit: changes, and which Codecov flags are due for each by the changed paths.
All: core, bun, cloudflare-do, client, middleware, redis-pubsub, zod, valibot, adapters

.codecov.yml:

# .codecov.yml â€” Coverage configuration for WS-Kit
# Optimized for a public TypeScript monorepo with multiple platform/validator adapters

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 1

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 2%
        base: auto
    patch:
      default:
        target: 77%
        threshold: 1%

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: no

# Exclude test, build, and documentation artifacts from coverage calculations
ignore:
  - "dist"
  - "build"
  - "**/node_modules"
  - "**/test/"
  - "**/test-utils/"
  - "**/__tests__/"
  - "**/__mocks__/"
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/test/**/*.ts"
  - "examples/"
  - "docs/"
  - "posts/"
  # Platform-specific integration code not covered by unit tests
  - "packages/bun/src/serve.ts" # Bun server initialization and HTTP integration
  - "packages/bun/src/websocket.ts" # Bun WebSocket platform bindings
  # Utilities and infrastructure not critical to core business logic
  - "packages/core/src/logger.ts" # Logging infrastructure
  - "packages/core/src/throttle.ts" # Throttling utilities (not currently in use)
  - "packages/core/src/utils.ts" # Helper utilities with limited usage

# Track coverage separately per package for visibility in the Codecov UI
flags:
  # Core router (foundation for all packages)
  core:
    paths:
      - "packages/core/src/"
    carryforward: yes

  # Platform adapters
  bun:
    paths:
      - "packages/bun/src/"
  cloudflare-do:
    paths:
      - "packages/cloudflare-do/src/"

  # Client SDK
  client:
    paths:
      - "packages/client/src/"

  # Middleware utilities
  middleware:
    paths:
      - "packages/middleware/src/"

  # PubSub adapters
  redis-pubsub:
    paths:
      - "packages/redis-pubsub/src/"

  # Validator adapters
  zod:
    paths:
      - "packages/zod/src/"
  valibot:
    paths:
      - "packages/valibot/src/"

  # Shared adapter contracts
  adapters:
    paths:
      - "packages/adapters/src/"

fix: make internal package dependencies explicit
  .changeset/fix-validator-deps.md
  bun.lock
  packages/valibot/package.json
  packages/zod/package.json
Due: none

ci: restrict default workflow permissions to none
  .github/workflows/release.yml
Due: none

fix: make internal package dependencies explicit (#86)
  .changeset/fix-validator-deps.md
  .github/workflows/release.yml
  bun.lock
  packages/valibot/package.json
  packages/zod/package.json
Due: none

ci: restrict workflow permissions (#87)
  .github/workflows/release.yml
Due: none

fix: use package imports in client subpath exports
  .changeset/fix-client-subpath-imports.md
  packages/client/valibot/src/index.ts
  packages/client/zod/src/index.ts
Due: none

fix: use package imports in client subpath exports (#89)
  .changeset/fix-client-subpath-imports.md
  packages/client/valibot/src/index.ts
  packages/client/zod/src/index.ts
Due: none

feat: add router-level lifecycle hooks (onOpen/onClose)
  docs/specs/router.md
  packages/bun/src/handler.ts
  packages/core/src/context/lifecycle-context.ts
  packages/core/src/core/router.ts
  packages/core/src/engine/lifecycle.ts
  packages/core/src/error.ts
  packages/core/src/index.ts
  packages/core/src/schema/reserved.ts
  packages/core/src/testing/test-harness.ts
  packages/core/src/testing/types.ts
  packages/core/test/features/lifecycle-hooks.test.ts
  packages/pubsub/src/plugin.ts
  packages/valibot/src/plugin.ts
  packages/valibot/src/runtime.ts
  packages/zod/src/plugin.ts
  packages/zod/src/runtime.ts
Due: core, bun, zod, valibot

refactor: rename isReservedType/isLifecycleType to isReserved/isLifecycle
  packages/core/src/engine/dispatch.ts
  packages/core/src/error.ts
  packages/core/src/schema/reserved.ts
Due: core

test: split lifecycle-hooks tests by concern
  packages/core/src/error.test.ts
  packages/core/test/features/lifecycle-hooks.test.ts
  tests/integration/types/namespace-enforcement.test.ts
Due: none

docs: update lifecycle hooks documentation and add capability tests
  .changeset/sweet-pans-add.md
  CLAUDE.md
  docs/adr/009-error-handling-and-lifecycle-hooks.md
  docs/adr/README.md
  docs/specs/router.md
  packages/core/README.md
  packages/core/src/error.test.ts
  packages/core/test/features/lifecycle-hooks.test.ts
Due: none

fix: improve lifecycle hook robustness and type safety
  packages/core/src/context/lifecycle-context.ts
  packages/core/src/engine/lifecycle.ts
Due: core

feat: add router-level lifecycle hooks (#94)
  .changeset/sweet-pans-add.md
  CLAUDE.md
  docs/adr/009-error-handling-and-lifecycle-hooks.md
  docs/adr/README.md
  docs/specs/router.md
  packages/bun/src/handler.ts
  packages/core/README.md
  packages/core/src/context/lifecycle-context.ts
  packages/core/src/core/router.ts
  packages/core/src/engine/dispatch.ts
  packages/core/src/engine/lifecycle.ts
  packages/core/src/error.test.ts
  packages/core/src/error.ts
  packages/core/src/index.ts
  packages/core/src/schema/reserved.ts
  packages/core/src/testing/test-harness.ts
  packages/core/src/testing/types.ts
  packages/core/test/features/lifecycle-hooks.test.ts
  packages/pubsub/src/plugin.ts
  packages/valibot/src/plugin.ts
  packages/valibot/src/runtime.ts
  packages/zod/src/plugin.ts
  packages/zod/src/runtime.ts
  tests/integration/types/namespace-enforcement.test.ts
Due: core, bun, zod, valibot

chore: use 0.9.0 version instead of 1.0.0
  packages/bun/CHANGELOG.md
  packages/bun/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/cloudflare/CHANGELOG.md
  packages/cloudflare/package.json
  packages/memory/CHANGELOG.md
  packages/memory/package.json
  packages/middleware/CHANGELOG.md
  packages/middleware/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
  packages/pubsub/CHANGELOG.md
  packages/pubsub/package.json
  packages/rate-limit/CHANGELOG.md
  packages/rate-limit/package.json
  packages/redis/CHANGELOG.md
  packages/redis/package.json
  packages/valibot/CHANGELOG.md
  packages/zod/CHANGELOG.md
Due: none

fix: type-safe send() return values via overloads
  .changeset/bright-lamps-camp.md
  docs/adr/030-context-methods-design.md
  docs/adr/031-plugin-adapter-architecture.md
  docs/api-reference.md
  docs/proposals/rpc.md
  docs/specs/README.md
  docs/specs/context-methods.md
  packages/core/src/context/event-context.ts
  packages/core/src/context/types.ts
  packages/core/src/index.ts
  packages/core/src/protocol/schema.ts
  packages/core/test/features/public-api.test.ts
  packages/plugins/src/messaging/index.ts
  packages/plugins/src/messaging/send.test.ts
  packages/plugins/src/messaging/types.ts
  packages/valibot/test/features/send-options.test.ts
  packages/zod/test/features/send-options.test.ts
Due: core

test: fix invalid no-payload schema test in valibot
  packages/valibot/src/composition.test.ts
Due: none

fix: type-safe send() return values via overloads (#96)
  .changeset/bright-lamps-camp.md
  docs/adr/030-context-methods-design.md
  docs/adr/031-plugin-adapter-architecture.md
  docs/api-reference.md
  docs/proposals/rpc.md
  docs/specs/README.md
  docs/specs/context-methods.md
  packages/core/src/context/event-context.ts
  packages/core/src/context/types.ts
  packages/core/src/index.ts
  packages/core/src/protocol/schema.ts
  packages/core/test/features/public-api.test.ts
  packages/plugins/src/messaging/index.ts
  packages/plugins/src/messaging/send.test.ts
  packages/plugins/src/messaging/types.ts
  packages/valibot/src/composition.test.ts
  packages/valibot/test/features/send-options.test.ts
  packages/zod/test/features/send-options.test.ts
Due: core

fix: use 0.10.0 instead of 1.0.0 for pre-1.0 packages
  packages/bun/CHANGELOG.md
  packages/bun/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/cloudflare/CHANGELOG.md
  packages/cloudflare/package.json
  packages/memory/CHANGELOG.md
  packages/memory/package.json
  packages/middleware/CHANGELOG.md
  packages/middleware/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
  packages/pubsub/CHANGELOG.md
  packages/pubsub/package.json
  packages/rate-limit/CHANGELOG.md
  packages/rate-limit/package.json
  packages/redis/CHANGELOG.md
  packages/redis/package.json
Due: none

fix: correct dependency versions in changelogs
  packages/memory/CHANGELOG.md
  packages/middleware/CHANGELOG.md
  packages/redis/CHANGELOG.md
  packages/valibot/CHANGELOG.md
  packages/zod/CHANGELOG.md
Due: none

fix: eliminate enhancer overwrite warning via delegate pattern
  .changeset/wide-ghosts-grow.md
  packages/plugins/src/messaging/index.ts
  packages/plugins/src/rpc/index.ts
  packages/pubsub/src/plugin.ts
  packages/valibot/src/plugin.ts
  packages/zod/src/plugin.ts
Due: zod, valibot

fix: eliminate enhancer overwrite warning (#98)
  .changeset/wide-ghosts-grow.md
  packages/plugins/src/messaging/index.ts
  packages/plugins/src/rpc/index.ts
  packages/pubsub/src/plugin.ts
  packages/valibot/src/plugin.ts
  packages/zod/src/plugin.ts
Due: zod, valibot

fix: export BrandedSchema for declaration emit compatibility
  .changeset/export-branded-schema.md
  packages/valibot/src/index.ts
  packages/valibot/src/types.ts
  packages/zod/src/index.ts
  packages/zod/src/types.ts
Due: zod, valibot

fix: export BrandedSchema for declaration emit (#103)
  .changeset/export-branded-schema.md
  packages/valibot/src/index.ts
  packages/valibot/src/types.ts
  packages/zod/src/index.ts
  packages/zod/src/types.ts
Due: zod, valibot

fix: use correct message envelope format in chat example
  examples/bun-zod-chat/index.ts
Due: none

fix: chat example message format (#107)
  examples/bun-zod-chat/index.ts
Due: none

fix: implement local pub/sub delivery for memory adapter
  docs/specs/pubsub.md
  packages/core/src/core/router.ts
  packages/core/test/features/publish-failure-modes.test.ts
  packages/core/test/features/pubsub-capture.test.ts
  packages/memory/README.md
  packages/memory/src/pubsub.test.ts
  packages/memory/src/pubsub.ts
  packages/pubsub/src/plugin.ts
  packages/pubsub/test/features/local-delivery.test.ts
Due: core

fix: enable excludeSelf for all adapters via plugin filtering
  docs/adr/019-ctx-publish-convenience-method.md
  docs/api-reference.md
  packages/bun/src/pubsub.ts
  packages/core/test/features/publish-failure-modes.test.ts
  packages/pubsub/README.md
  packages/pubsub/src/plugin.ts
  packages/pubsub/src/types.ts
  packages/redis/src/pubsub.ts
Due: bun

fix: Bun pub/sub cannot support excludeSelf (honest about capabilities)
  docs/api-reference.md
  docs/specs/pubsub.md
  packages/bun/src/pubsub.ts
  packages/bun/test/features/pubsub-integration.test.ts
Due: bun

docs: align excludeSelf adapter support notes across all docs
  docs/adr/030-context-methods-design.md
  docs/specs/context-methods.md
  packages/bun/test/features/pubsub-integration.test.ts
  packages/pubsub/README.md
Due: none

docs: fix remaining excludeSelf adapter notes in ADR-019 and context-methods spec
  docs/adr/019-ctx-publish-convenience-method.md
  docs/specs/context-methods.md
Due: none

chore: add changesets for pub/sub fixes
  .changeset/bun-excludeself-error.md
  .changeset/core-clientid-order.md
  .changeset/local-pubsub-delivery.md
  .changeset/redis-excludeself-simplify.md
Due: none
