Repository kriasoft/ws-kit: changes, and which Codecov flags are due for each by the changed paths.
All: core, bun, cloudflare-do, client, middleware, redis-pubsub, zod, valibot, adapters

fix: correct RPC context type tests to use actual API
  packages/core/test/types/rpc-context-inference.test.ts
Due: none

test: refactor router interface conformance tests
  packages/core/test/types/router-interface.test.ts
Due: none

test: fix and enhance plugin-capability-gating type tests
  packages/core/test/types/plugin-capability-gating.test.ts
Due: none

refactor: implement ctx.error() as core primitive with safety improvements
  .vscode/settings.json
  docs/adr/036-unified-error-handling-core-primitive.md
  docs/adr/README.md
  packages/core/src/context/base-context.ts
  packages/core/src/context/error-handling.ts
  packages/core/src/context/rpc-context.ts
  packages/core/src/context/types.ts
  packages/core/src/core/router.ts
  packages/core/src/index.ts
  packages/core/src/internal.ts
  packages/plugins/src/rpc/index.ts
Due: core

docs: lean code documentation for error handling and RPC
  packages/core/src/context/error-handling.ts
  packages/plugins/src/rpc/index.ts
Due: core

test: fix middleware type tests to use actual router API
  packages/core/src/context/error-handling.ts
  packages/core/test/types/middleware.test.ts
Due: core

test: fix middleware type tests to use actual router API
  packages/core/test/types/middleware.test.ts
Due: none

test: strengthen middleware test assertions and remove duplicates
  packages/core/test/features/middleware.test.ts
Due: none

docs: update middleware documentation and examples for builder pattern
  docs/adr/008-middleware-support.md
  docs/adr/README.md
  docs/advanced-usage.md
  docs/api-reference.md
  docs/core-concepts.md
  docs/examples.md
  docs/middleware.md
  docs/specs/README.md
  docs/specs/error-handling.md
  docs/specs/router.md
  docs/specs/rules.md
  packages/valibot/test/types/composition.test.ts
  packages/valibot/test/types/index.test.ts
Due: none

refactor: add outbound validation for ctx.publish() and adapter excludeSelf support
  CLAUDE.md
  packages/bun/src/pubsub.ts
  packages/bun/test/pubsub.test.ts
  packages/core/src/testing/test-harness.ts
  packages/core/src/testing/types.ts
  packages/core/test/features/cross-package-types.test.ts
  packages/core/test/features/limits.test.ts
  packages/core/test/features/merge-mount.test.ts
  packages/core/test/features/message-dispatch.test.ts
  packages/core/test/features/middleware.test.ts
  packages/core/test/features/plugin-enhancers.test.ts
  packages/core/test/features/plugin-semantic-layer.test.ts
  packages/core/test/features/publish-failure-modes.test.ts
  packages/core/test/features/publish-origin.test.ts
  packages/core/test/features/publish-typed.test.ts
  packages/core/test/features/publish-validation-in-handlers.test.ts
  packages/core/test/features/pubsub-capture.test.ts
  packages/core/test/features/router-observe.test.ts
  packages/core/test/features/timestamp-usage.test.ts
  packages/core/test/features/validation-plugin.test.ts
  packages/core/test/runtime/message-descriptor.test.ts
  packages/core/test/runtime/route-table.test.ts
  packages/core/test/types/error-helper.test.ts
  packages/core/test/types/index.test.ts
  packages/memory/src/pubsub.ts
  packages/redis/src/pubsub.ts
  packages/valibot/src/plugin.ts
  packages/zod/src/plugin.ts
Due: core, bun, zod, valibot

test: restructure and modernize core test suite (#64)
  CLAUDE.md
  packages/bun/src/pubsub.ts
  packages/bun/test/pubsub.test.ts
  packages/core/src/testing/test-harness.ts
  packages/core/src/testing/types.ts
  packages/core/test/features/cross-package-types.test.ts
  packages/core/test/features/limits.test.ts
  packages/core/test/features/merge-mount.test.ts
  packages/core/test/features/message-dispatch.test.ts
  packages/core/test/features/middleware.test.ts
  packages/core/test/features/plugin-enhancers.test.ts
  packages/core/test/features/plugin-semantic-layer.test.ts
  packages/core/test/features/publish-failure-modes.test.ts
  packages/core/test/features/publish-origin.test.ts
  packages/core/test/features/publish-typed.test.ts
  packages/core/test/features/publish-validation-in-handlers.test.ts
  packages/core/test/features/pubsub-capture.test.ts
  packages/core/test/features/router-observe.test.ts
  packages/core/test/features/timestamp-usage.test.ts
  packages/core/test/features/validation-plugin.test.ts
  packages/core/test/runtime/message-descriptor.test.ts
  packages/core/test/runtime/route-table.test.ts
  packages/core/test/types/error-helper.test.ts
  packages/core/test/types/index.test.ts
  packages/memory/src/pubsub.ts
  packages/redis/src/pubsub.ts
  packages/valibot/src/plugin.ts
  packages/zod/src/plugin.ts
Due: core, bun, zod, valibot

refactor: consolidate prepack logic into release.ts
  scripts/release.ts
Due: none

fix: remove publishConfig from sanitized package.json
  scripts/release.ts
Due: none

fix: improve release script robustness and workflow correctness
  scripts/release.ts
Due: none

refactor: enforce DESCRIPTOR symbol pattern, remove deprecated kind property
  bunfig.toml
  packages/core/src/core/route-table.test.ts
  packages/core/src/core/route-table.ts
  packages/core/src/protocol/message-descriptor.test.ts
  packages/core/src/protocol/message-descriptor.ts
  packages/core/src/schema/metadata.ts
  packages/core/src/testing/act.ts
  packages/core/src/testing/index.ts
  packages/core/src/testing/test-harness.test.ts
  packages/core/src/testing/test-schemas.ts
  packages/core/test/features/basic-usage.test.ts
  packages/core/test/features/connection-data-persistence.test.ts
  packages/core/test/features/dispatch.test.ts
  packages/core/test/features/fire-and-forget-messaging.test.ts
  packages/core/test/features/handler-routing.test.ts
  packages/core/test/features/limits.test.ts
  packages/core/test/features/merge-mount.test.ts
  packages/core/test/features/message-dispatch.test.ts
  packages/core/test/features/plugin-enhancers.test.ts
  packages/core/test/features/plugin-validation.test.ts
  packages/core/test/features/smoke-test.test.ts
  tests/e2e/client-server/connection.test.ts
  tsconfig.base.json
Due: core

chore: alphabetize exports in internal.ts
  packages/core/src/internal.ts
Due: core

refactor: remove deprecated kind property (#68)
  bunfig.toml
  packages/core/src/core/route-table.test.ts
  packages/core/src/core/route-table.ts
  packages/core/src/internal.ts
  packages/core/src/protocol/message-descriptor.test.ts
  packages/core/src/protocol/message-descriptor.ts
  packages/core/src/schema/metadata.ts
  packages/core/src/testing/act.ts
  packages/core/src/testing/index.ts
  packages/core/src/testing/test-harness.test.ts
  packages/core/src/testing/test-schemas.ts
  packages/core/test/features/basic-usage.test.ts
  packages/core/test/features/connection-data-persistence.test.ts
  packages/core/test/features/dispatch.test.ts
  packages/core/test/features/fire-and-forget-messaging.test.ts
  packages/core/test/features/handler-routing.test.ts
  packages/core/test/features/limits.test.ts
  packages/core/test/features/merge-mount.test.ts
  packages/core/test/features/message-dispatch.test.ts
  packages/core/test/features/plugin-enhancers.test.ts
  packages/core/test/features/plugin-validation.test.ts
  packages/core/test/features/smoke-test.test.ts
  tests/e2e/client-server/connection.test.ts
  tsconfig.base.json
Due: core

feat: add warnIncompleteRpc for detecting missing RPC replies
  packages/core/src/context/error-handling.ts
  packages/core/src/core/createRouter.ts
  packages/core/src/core/router.ts
  packages/core/src/core/types.ts
  packages/core/src/engine/dispatch.ts
  packages/core/test/features/rpc-incomplete-warning.test.ts
  packages/zod/src/plugin.ts
Due: core, zod

feat: add warnIncompleteRpc option (#69)
  packages/core/src/context/error-handling.ts
  packages/core/src/core/createRouter.ts
  packages/core/src/core/router.ts
  packages/core/src/core/types.ts
  packages/core/src/engine/dispatch.ts
  packages/core/test/features/rpc-incomplete-warning.test.ts
  packages/zod/src/plugin.ts
Due: core, zod

fix: pubsub context enhancer ordering and excludeSelf handling
  packages/core/src/testing/types.ts
  packages/core/test/features/plugin-capability-gating.test.ts
  packages/core/test/features/publish-failure-modes.test.ts
  packages/core/test/features/publish-validation-in-handlers.test.ts
  packages/pubsub/src/plugin.ts
Due: core

chore: bump vitepress to 2.0.0-alpha.15
  bun.lock
  package.json
Due: none

fix: pubsub context enhancer ordering and excludeSelf handling (#70)
  bun.lock
  package.json
  packages/core/src/testing/types.ts
  packages/core/test/features/plugin-capability-gating.test.ts
  packages/core/test/features/publish-failure-modes.test.ts
  packages/core/test/features/publish-validation-in-handlers.test.ts
  packages/pubsub/src/plugin.ts
Due: core

fix(valibot): strict validation by using optional() instead of fallback()
  packages/client/valibot/test/features/schema-reuse.test.ts
  packages/valibot/src/runtime.ts
  packages/valibot/test/features/strict-validation.test.ts
Due: valibot

test: fix composition tests to dispatch messages
  packages/plugins/src/composition.test.ts
Due: none

refactor: rename type to messageType and clean up ESLint config
  packages/plugins/src/composition.test.ts
Due: none

fix(client): extract message type from schema AST, not schema.type
  packages/client/src/index.ts
  packages/client/test/features/schema-compatibility.test.ts
Due: client

fix(client): correct schema type extraction (#73)
  packages/client/src/index.ts
  packages/client/test/features/schema-compatibility.test.ts
  packages/plugins/src/composition.test.ts
Due: client

fix(client): support Standard Schema for raw Valibot schemas
  packages/client/src/index.ts
  packages/client/test/features/schema-compatibility.test.ts
  packages/client/tsconfig.check.json
Due: client

fix(client): support Standard Schema for raw Valibot schemas (#74)
  packages/client/src/index.ts
  packages/client/test/features/schema-compatibility.test.ts
  packages/client/tsconfig.check.json
Due: client

fix(zod): correct z.infer type inference for message schemas
  packages/client/src/types.test.ts
  packages/client/test/features/requests.test.ts
  packages/zod/src/runtime.ts
Due: zod

fix(zod): correct z.infer type inference (#75)
  packages/client/src/types.test.ts
  packages/client/test/features/requests.test.ts
  packages/zod/src/runtime.ts
Due: zod

refactor(pubsub): simplify plugin setup in tests
  packages/pubsub/src/plugin.test.ts
  packages/pubsub/src/types.test.ts
  packages/pubsub/test/features/exclude-self.test.ts
Due: none

fix(core): preserve pubsub runtime API and improve capability gating
  packages/core/src/core/router.ts
  packages/core/src/index.ts
  packages/core/src/plugin/define.ts
  packages/core/src/plugin/types.ts
  packages/core/test/features/plugin-capability-gating.test.ts
  packages/core/test/features/plugin-validation.test.ts
  packages/core/test/types/plugin-chaining.test.ts
  packages/pubsub/src/plugin.ts
  packages/pubsub/src/types.test.ts
  packages/valibot/src/plugin-narrowing.test.ts
Due: core

fix(core): preserve pubsub runtime API in types (#76)
  packages/core/src/core/router.ts
  packages/core/src/index.ts
  packages/core/src/plugin/define.ts
  packages/core/src/plugin/types.ts
  packages/core/test/features/plugin-capability-gating.test.ts
  packages/core/test/features/plugin-validation.test.ts
  packages/core/test/types/plugin-chaining.test.ts
  packages/pubsub/src/plugin.test.ts
  packages/pubsub/src/plugin.ts
  packages/pubsub/src/types.test.ts
  packages/pubsub/test/features/exclude-self.test.ts
  packages/valibot/src/plugin-narrowing.test.ts
Due: core

Path conditions:
  core: any of: packages/core/src/, but not: dist, build, **/node_modules, **/test/, **/test-utils/, **/__tests__/, **/__mocks__/, **/*.test.ts, **/*.spec.ts, **/test/**/*.ts, examples/, docs/, posts/, packages/bun/src/serve.ts, packages/bun/src/websocket.ts, packages/core/src/logger.ts, packages/core/src/throttle.ts, packages/core/src/utils.ts
  bun: any of: packages/bun/src/, but not: dist, build, **/node_modules, **/test/, **/test-utils/, **/__tests__/, **/__mocks__/, **/*.test.ts, **/*.spec.ts, **/test/**/*.ts, examples/, docs/, posts/, packages/bun/src/serve.ts, packages/bun/src/websocket.ts, packages/core/src/logger.ts, packages/core/src/throttle.ts, packages/core/src/utils.ts
  cloudflare-do: any of: packages/cloudflare-do/src/, but not: dist, build, **/node_modules, **/test/, **/test-utils/, **/__tests__/, **/__mocks__/, **/*.test.ts, **/*.spec.ts, **/test/**/*.ts, examples/, docs/, posts/, packages/bun/src/serve.ts, packages/bun/src/websocket.ts, packages/core/src/logger.ts, packages/core/src/throttle.ts, packages/core/src/utils.ts
  client: any of: packages/client/src/, but not: dist, build, **/node_modules, **/test/, **/test-utils/, **/__tests__/, **/__mocks__/, **/*.test.ts, **/*.spec.ts, **/test/**/*.ts, examples/, docs/, posts/, packages/bun/src/serve.ts, packages/bun/src/websocket.ts, packages/core/src/logger.ts, packages/core/src/throttle.ts, packages/core/src/utils.ts
  middleware: any of: packages/middleware/src/, but not: dist, build, **/node_modules, **/test/, **/test-utils/, **/__tests__/, **/__mocks__/, **/*.test.ts, **/*.spec.ts, **/test/**/*.ts, examples/, docs/, posts/, packages/bun/src/serve.ts, packages/bun/src/websocket.ts, packages/core/src/logger.ts, packages/core/src/throttle.ts, packages/core/src/utils.ts
  redis-pubsub: any of: packages/redis-pubsub/src/, but not: dist, build, **/node_modules, **/test/, **/test-utils/, **/__tests__/, **/__mocks__/, **/*.test.ts, **/*.spec.ts, **/test/**/*.ts, examples/, docs/, posts/, packages/bun/src/serve.ts, packages/bun/src/websocket.ts, packages/core/src/logger.ts, packages/core/src/throttle.ts, packages/core/src/utils.ts
  zod: any of: packages/zod/src/, but not: dist, build, **/node_modules, **/test/, **/test-utils/, **/__tests__/, **/__mocks__/, **/*.test.ts, **/*.spec.ts, **/test/**/*.ts, examples/, docs/, posts/, packages/bun/src/serve.ts, packages/bun/src/websocket.ts, packages/core/src/logger.ts, packages/core/src/throttle.ts, packages/core/src/utils.ts
  valibot: any of: packages/valibot/src/, but not: dist, build, **/node_modules, **/test/, **/test-utils/, **/__tests__/, **/__mocks__/, **/*.test.ts, **/*.spec.ts, **/test/**/*.ts, examples/, docs/, posts/, packages/bun/src/serve.ts, packages/bun/src/websocket.ts, packages/core/src/logger.ts, packages/core/src/throttle.ts, packages/core/src/utils.ts
  adapters: any of: packages/adapters/src/, but not: dist, build, **/node_modules, **/test/, **/test-utils/, **/__tests__/, **/__mocks__/, **/*.test.ts, **/*.spec.ts, **/test/**/*.ts, examples/, docs/, posts/, packages/bun/src/serve.ts, packages/bun/src/websocket.ts, packages/core/src/logger.ts, packages/core/src/throttle.ts, packages/core/src/utils.ts
