Repository kriasoft/ws-kit: changes, and which Codecov flags are due for each by the changed paths.
All: core, bun, cloudflare-do, client, middleware, redis-pubsub, zod, valibot, adapters

refactor: Align PubSubAdapter interface with proposal for cleaner separation of concerns
  bun.lock
  docs/adr/019-ctx-publish-convenience-method.md
  docs/adr/022-namespace-first-pubsub-api.md
  docs/advanced-usage.md
  docs/api-reference.md
  docs/proposals/pubsub-adapter.md
  docs/specs/pubsub.md
  packages/adapters/package.json
  packages/adapters/src/memory/pubsub.ts
  packages/adapters/tsconfig.json
  packages/adapters/tsconfig.test.json
  packages/bun/test/integration.test.ts
  packages/core/package.json
  packages/core/src/capabilities/pubsub/adapter.ts
  packages/core/src/capabilities/pubsub/contracts.ts
  packages/core/src/capabilities/pubsub/index.ts
  packages/core/src/index.ts
  packages/core/src/internal/router.ts
  packages/core/src/internal/types-legacy.ts
  packages/core/test/features/publish-failure-modes.test.ts
  packages/core/test/features/publish-typed.test.ts
  packages/pubsub/src/adapters/memory.ts
  packages/pubsub/src/index.ts
  packages/pubsub/src/internal.ts
  packages/pubsub/src/plugin.ts
  packages/pubsub/src/test-utils.ts
  packages/valibot/src/router.ts
  packages/zod/src/_old/router.ts
Due: core, zod, valibot, adapters

refactor: Make getLocalSubscribers lazy AsyncIterable for backpressure support
  docs/proposals/pubsub-adapter.md
  packages/adapters/src/memory/pubsub.ts
  packages/core/src/capabilities/pubsub/adapter.ts
  packages/pubsub/src/adapters/memory.ts
  packages/pubsub/src/test-utils.ts
Due: core, adapters

refactor: Split PubSubAdapter → PubSubDriver and introduce BrokerConsumer
  docs/adr/023-pubsub-adapter-split.md
  docs/migration/pubsub-adapter-split.md
  docs/specs/pubsub.md
  packages/adapters/src/cloudflare-do/index.ts
  packages/adapters/src/cloudflare-do/ingress.ts
  packages/adapters/src/cloudflare-do/pubsub.ts
  packages/adapters/src/memory/index.ts
  packages/adapters/src/memory/pubsub.ts
  packages/adapters/src/redis/index.ts
  packages/adapters/src/redis/ingress.ts
  packages/adapters/src/redis/pubsub.ts
  packages/adapters/test/memory-pubsub.test.ts
  packages/adapters/test/pubsub-contract.test.ts
  packages/core/src/capabilities/pubsub/adapter.ts
  packages/core/src/capabilities/pubsub/index.ts
Due: core, adapters

refactor: Implement pub/sub delivery orchestration with explicit init/shutdown
  docs/adr/024-unified-pubsub-adapter-optional-lifecycle.md
  packages/adapters/package.json
  packages/adapters/src/compose.ts
  packages/adapters/src/memory/index.ts
  packages/adapters/src/memory/pubsub.ts
  packages/adapters/test/compose.test.ts
  packages/adapters/test/pubsub-contract.test.ts
  packages/core/src/capabilities/pubsub/adapter.ts
  packages/core/src/capabilities/pubsub/index.ts
  packages/core/src/core/router.ts
  packages/core/src/engine/lifecycle.ts
  packages/core/src/test/index.ts
  packages/pubsub/src/plugin.ts
  packages/pubsub/src/types.ts
  packages/pubsub/test/features/plugin-delivery-orchestration.test.ts
Due: core, adapters

refactor: Delete legacy router.ts and types-legacy.ts, move throttle utility to public API
  packages/core/src/index.ts
  packages/core/src/internal/router.ts
  packages/core/src/internal/types-legacy.ts
  packages/core/src/utils/throttle.ts
Due: core

docs: Update pubsub-adapter proposal with new package structure
  docs/proposals/pubsub-adapter.md
Due: none

docs: Update adapter package paths from @ws-kit/adapters/* to @ws-kit/* (memory, redis, cloudflare)
  README.md
  bunfig.toml
  docs/guides/rate-limiting.md
  docs/migration/pubsub-adapter-split.md
  docs/proposals/rate-limiting.md
  packages/adapters/README.md
  packages/middleware/README.md
  packages/pubsub/src/index.ts
  posts/2025-11-04_token-bucket-policies.md
  tsconfig.base.json
Due: none

refactor: Update internal adapter imports from @ws-kit/adapters/* to new package locations
  packages/adapters/src/cloudflare/pubsub.ts
  packages/adapters/src/memory/pubsub.ts
  packages/adapters/src/redis/pubsub.ts
  packages/adapters/test/cloudflare.test.ts
  packages/adapters/test/compose.test.ts
  packages/adapters/test/contract.ts
  packages/adapters/test/memory.test.ts
  packages/adapters/test/redis.test.ts
  packages/middleware/src/rate-limit.ts
  packages/middleware/test/rate-limit.test.ts
Due: middleware, adapters

docs: Update documentation examples from @ws-kit/adapters/* to new package paths
  CLAUDE.md
  docs/adr/025-validator-plugins-configurable.md
  docs/adr/README.md
  docs/specs/pubsub.md
  docs/specs/validation.md
  packages/valibot/src/index.ts
  packages/valibot/src/withValibot.ts
  packages/valibot/test/types/validator-plugin-narrowing.test.ts
  packages/zod/src/index.ts
  packages/zod/src/withZod.ts
  packages/zod/test/types/validator-plugin-narrowing.test.ts
  posts/2025-11-04_token-bucket-policies.md
Due: zod, valibot

refactor: Synchronize zod and valibot package structures
  packages/valibot/src/_old/adapter.ts
  packages/valibot/src/_old/router.ts
  packages/valibot/src/_old/schema.ts
  packages/valibot/src/_old/validator.ts
  packages/valibot/src/index.ts
  packages/valibot/src/internal.ts
  packages/valibot/src/plugin.ts
  packages/valibot/test/runtime/plugin.test.ts
  packages/valibot/test/validator.test.ts
  packages/zod/src/index.ts
  packages/zod/src/internal.ts
  packages/zod/src/plugin.ts
  packages/zod/test/runtime/plugin.test.ts
  packages/zod/test/validator.test.ts
Due: zod, valibot

Fix Zod schema strictness and add duck-typed runtime detection
  packages/valibot/README.md
  packages/valibot/src/plugin.ts
  packages/valibot/src/runtime.ts
  packages/valibot/test/features/schema-detection.test.ts
  packages/zod/README.md
  packages/zod/src/plugin.ts
  packages/zod/src/runtime.ts
  packages/zod/test/features/schema-detection.test.ts
Due: zod, valibot

Make meta field optional with empty object default in message schemas
  packages/valibot/src/runtime.ts
  packages/valibot/test/features/strict-validation.test.ts
  packages/zod/src/runtime.ts
  packages/zod/test/features/strict-validation.test.ts
Due: zod, valibot

Fix plugin typing vs runtime: Add MessageSchema, RpcSchema, AnySchema types
  packages/valibot/src/index.ts
  packages/valibot/src/plugin.ts
  packages/valibot/src/types.ts
  packages/zod/src/index.ts
  packages/zod/src/plugin.ts
  packages/zod/src/types.ts
Due: zod, valibot

Fix TypeScript issues in @ws-kit/zod package
  packages/zod/src/internal.ts
  packages/zod/src/types.ts
Due: zod

chore: Remove old implementation directories (_old) from zod and valibot packages
  packages/valibot/src/_old/adapter.ts
  packages/valibot/src/_old/router.ts
  packages/valibot/src/_old/schema.ts
  packages/valibot/src/_old/validator.ts
  packages/zod/src/_old/adapter.ts
  packages/zod/src/_old/narrower.ts
  packages/zod/src/_old/router.ts
  packages/zod/src/_old/schema.ts
  packages/zod/src/_old/validator.ts
Due: zod, valibot

fix: Configure typeRoots for valibot type declarations in test configs
  packages/valibot/tsconfig.test.json
  packages/zod/tsconfig.test.json
Due: none

feat: Enhance validation plugins with improved RPC handling and connection data
  CLAUDE.md
  packages/core/src/context/base-context.ts
  packages/core/src/test/fake-clock.ts
  packages/core/src/test/test-harness.ts
  packages/core/test/features/dispatch.test.ts
  packages/pubsub/test/features/plugin-delivery-orchestration.test.ts
  packages/valibot/src/plugin.ts
  packages/zod/src/plugin.ts
  packages/zod/src/types.ts
  packages/zod/test/types/schema-driven-inference.ts
Due: core, zod, valibot

feat: Implement runtime ctx.reply() and ctx.progress() transmission
  packages/valibot/src/plugin.ts
  packages/zod/src/plugin.ts
  packages/zod/test/features/reply-progress-runtime.test.ts
Due: zod, valibot

feat: Implement Design B progress control messages for RPC streaming
  packages/core/src/test/act.ts
  packages/core/src/test/types.ts
  packages/valibot/src/plugin.ts
  packages/zod/src/plugin.ts
Due: zod, valibot

feat: Add comprehensive type inference utilities and error catalog
  docs/specs/schema.md
  docs/specs/validation.md
  packages/core/src/constants.ts
  packages/core/src/context/event-context.ts
  packages/core/src/core/router.ts
  packages/core/src/core/types.ts
  packages/core/src/engine/dispatch.ts
  packages/core/src/error/catalog.ts
  packages/core/src/plugin/manager.ts
  packages/core/src/plugin/types.ts
  packages/core/src/schema/guards.ts
  packages/core/src/test/test-harness.ts
  packages/core/src/test/types.ts
  packages/core/test/types/internal-symbols.test.ts
  packages/valibot/README.md
  packages/valibot/src/index.ts
  packages/valibot/src/types.ts
  packages/valibot/test/types/index.test.ts
  packages/valibot/test/types/internal-symbols.test.ts
  packages/zod/README.md
  packages/zod/src/index.ts
  packages/zod/src/types.ts
  packages/zod/test/types/index.test.ts
  packages/zod/test/types/internal-symbols.test.ts
Due: core, zod, valibot

refactor: Eliminate drift and centralize validation architecture
  packages/valibot/README.md
  packages/valibot/src/internal.ts
  packages/valibot/src/metadata.ts
  packages/valibot/src/plugin.ts
  packages/valibot/src/runtime.ts
  packages/zod/src/internal.ts
  packages/zod/src/metadata.ts
  packages/zod/src/plugin.ts
  packages/zod/src/runtime.ts
  packages/zod/test/features/object-form-api.test.ts
Due: zod, valibot

refactor: Add clientId to MinimalContext for pub/sub capability gating
  docs/specs/pubsub.md
  packages/core/src/context/base-context.ts
  packages/core/src/context/pubsub-context.ts
  packages/core/src/context/types.ts
  packages/core/src/core/router.ts
  packages/core/src/engine/dispatch.ts
  packages/core/src/index.ts
  packages/core/src/test/index.ts
  packages/core/src/test/test-harness.ts
  packages/pubsub/src/plugin.ts
  packages/pubsub/test/features/runtime-capability-gating.test.ts
  packages/pubsub/test/types/capability-gating.test.ts
  packages/valibot/src/plugin.ts
  packages/zod/src/plugin.ts
Due: core, zod, valibot

Refactor pub/sub settlement semantics and add adapter verification
  docs/specs/pubsub.md
  packages/pubsub/src/core/topics.ts
  packages/pubsub/src/types.ts
  packages/pubsub/test/features/topics-abort-signal.test.ts
  packages/pubsub/test/features/topics-confirmation.test.ts
  packages/pubsub/test/features/topics-error-recovery.test.ts
  packages/pubsub/test/features/topics-limit.test.ts
  packages/pubsub/test/features/topics-set.test.ts
  packages/pubsub/test/features/topics-soft-noop.test.ts
  packages/pubsub/test/features/topics-status.test.ts
  packages/pubsub/test/features/topics-validation-reason.test.ts
Due: none

fix: Align pubsub parameter names and verify signature across spec & code
  docs/specs/pubsub.md
  packages/pubsub/src/core/topics.ts
  packages/pubsub/src/index.ts
  packages/pubsub/src/types.ts
Due: none

refactor: Introduce VerifyMode type for subscription verification options
  packages/pubsub/src/core/topics.ts
  packages/pubsub/src/types.ts
Due: none

refactor: Rename Topics.flush() to Topics.settle()
  docs/specs/pubsub.md
  packages/pubsub/src/core/topics.ts
  packages/pubsub/src/types.ts
  packages/pubsub/test/features/topics-confirmation.test.ts
  packages/pubsub/test/features/topics-status.test.ts
Due: none

refactor: Rename Topics.status() to Topics.localStatus()
  docs/specs/pubsub.md
  packages/pubsub/src/core/topics.ts
  packages/pubsub/src/types.ts
  packages/pubsub/test/features/topics-local-status.test.ts
Due: none

refactor: Normalize pubsub constant naming to DEFAULT_TOPIC_MAX_LENGTH
  packages/pubsub/README.md
  packages/pubsub/src/core/constants.ts
  packages/pubsub/src/core/topics.ts
  packages/pubsub/src/internal.ts
Due: none

fix: Align pubsub spec and README with implementation
  docs/specs/pubsub.md
  packages/core/test/features/topics-router-integration.test.ts
  packages/pubsub/README.md
  packages/pubsub/src/core/topics.ts
  packages/pubsub/src/internal.ts
  packages/pubsub/test/features/topics-abort-signal.test.ts
  packages/pubsub/test/features/topics-adapter-first-ordering.test.ts
  packages/pubsub/test/features/topics-atomic-batch.test.ts
  packages/pubsub/test/features/topics-confirmation.test.ts
  packages/pubsub/test/features/topics-error-recovery.test.ts
  packages/pubsub/test/features/topics-iterators.test.ts
  packages/pubsub/test/features/topics-limit.test.ts
  packages/pubsub/test/features/topics-local-status.test.ts
  packages/pubsub/test/features/topics-set.test.ts
  packages/pubsub/test/features/topics-soft-noop.test.ts
  packages/pubsub/test/features/topics-validation-reason.test.ts
Due: none

refactor: Rename TConn to TContext for clarity across context interfaces and plugin types
  packages/core/src/context/base-context.ts
  packages/core/src/context/event-context.ts
  packages/core/src/context/pubsub-context.ts
  packages/core/src/context/rpc-context.ts
  packages/core/src/core/createRouter.ts
  packages/core/src/core/route-table.ts
  packages/core/src/core/router.ts
  packages/core/src/core/types.ts
  packages/core/src/engine/dispatch.ts
  packages/core/src/engine/lifecycle.ts
  packages/core/src/engine/middleware.ts
  packages/core/src/index.ts
  packages/core/src/plugin/manager.ts
  packages/core/src/plugin/types.ts
  packages/core/src/utils/pipe.ts
  packages/core/test/types/internal-symbols.test.ts
  packages/pubsub/src/plugin.ts
  packages/pubsub/src/types.ts
Due: core

feat: Add platform-agnostic WebSocket handler interface to router
  packages/core/src/core/router.ts
  packages/core/test/core/websocket-bridge.test.ts
Due: core

refactor: Introduce ReadonlyRouteIndex API for plugins
  packages/core/src/core/router.ts
  packages/core/src/core/symbols.ts
  packages/core/src/engine/dispatch.ts
  packages/core/src/index.ts
  packages/valibot/src/plugin.ts
  packages/zod/src/plugin.ts
Due: core, zod, valibot

refactor: Rename test directories to testing for clarity
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/testing/act.ts
  packages/core/src/testing/fake-clock.ts
  packages/core/src/testing/index.ts
  packages/core/src/testing/test-adapter.ts
  packages/core/src/testing/test-harness.ts
  packages/core/src/testing/test-websocket.ts
  packages/core/src/testing/types.ts
  packages/core/test/features/connection-data-persistence.test.ts
  packages/core/test/features/dispatch.test.ts
  packages/core/test/testing-harness/fake-clock.test.ts
  packages/core/test/testing-harness/test-router-basic.test.ts
  packages/valibot/test/features/runtime-normalization.test.ts
  packages/zod/test/features/runtime-normalization.test.ts
Due: core

docs: Update import paths and add integration tests
  docs/proposals/router.md
  packages/core/README.md
  packages/core/test/integration/fire-and-forget-messaging.test.ts
  packages/core/test/integration/handler-routing.test.ts
Due: none

test: Add basic usage integration tests without mocks
  packages/core/test/integration/basic-usage.test.ts
Due: none

refactor: Centralize pubsub types and improve error handling
  docs/specs/pubsub.md
  eslint.config.ts
  packages/adapters/src/cloudflare/pubsub.ts
  packages/adapters/src/memory/pubsub.ts
  packages/adapters/src/redis/pubsub.ts
  packages/adapters/test/pubsub-contract.test.ts
  packages/bun/test/integration.test.ts
  packages/cloudflare-do/src/pubsub.ts
  packages/core/src/capabilities/pubsub/adapter.ts
  packages/core/src/context/pubsub-context.ts
  packages/core/src/core/router.ts
  packages/core/src/core/types.ts
  packages/core/src/index.ts
  packages/core/test/features/publish-failure-modes.test.ts
  packages/core/test/features/publish-typed.test.ts
  packages/memory/src/pubsub.ts
  packages/pubsub/src/plugin.ts
  packages/pubsub/src/types.ts
  packages/redis/src/pubsub.ts
Due: core, cloudflare-do, adapters

docs: Update references to removed adapter packages
  README.md
  packages/bun/README.md
  packages/middleware/README.md
  packages/middleware/package.json
Due: none

docs: Update all references to redis-pubsub package
  docs/api-reference.md
  docs/deployment.md
  docs/getting-started.md
  docs/guides/advanced-multi-runtime.md
  docs/specs/adapters.md
Due: none

Path conditions:
  core: any of: packages/core/src/, but not: dist, build, **/node_modules, **/test/, **/test-utils/, **/__tests__/, **/__mocks__/, **/*.test.ts, **/*.spec.ts, **/test/**/*.ts, examples/, docs/, posts/, packages/bun/src/serve.ts, packages/bun/src/websocket.ts, packages/core/src/logger.ts, packages/core/src/throttle.ts, packages/core/src/utils.ts
  bun: any of: packages/bun/src/, but not: dist, build, **/node_modules, **/test/, **/test-utils/, **/__tests__/, **/__mocks__/, **/*.test.ts, **/*.spec.ts, **/test/**/*.ts, examples/, docs/, posts/, packages/bun/src/serve.ts, packages/bun/src/websocket.ts, packages/core/src/logger.ts, packages/core/src/throttle.ts, packages/core/src/utils.ts
  cloudflare-do: any of: packages/cloudflare-do/src/, but not: dist, build, **/node_modules, **/test/, **/test-utils/, **/__tests__/, **/__mocks__/, **/*.test.ts, **/*.spec.ts, **/test/**/*.ts, examples/, docs/, posts/, packages/bun/src/serve.ts, packages/bun/src/websocket.ts, packages/core/src/logger.ts, packages/core/src/throttle.ts, packages/core/src/utils.ts
  client: any of: packages/client/src/, but not: dist, build, **/node_modules, **/test/, **/test-utils/, **/__tests__/, **/__mocks__/, **/*.test.ts, **/*.spec.ts, **/test/**/*.ts, examples/, docs/, posts/, packages/bun/src/serve.ts, packages/bun/src/websocket.ts, packages/core/src/logger.ts, packages/core/src/throttle.ts, packages/core/src/utils.ts
  middleware: any of: packages/middleware/src/, but not: dist, build, **/node_modules, **/test/, **/test-utils/, **/__tests__/, **/__mocks__/, **/*.test.ts, **/*.spec.ts, **/test/**/*.ts, examples/, docs/, posts/, packages/bun/src/serve.ts, packages/bun/src/websocket.ts, packages/core/src/logger.ts, packages/core/src/throttle.ts, packages/core/src/utils.ts
  redis-pubsub: any of: packages/redis-pubsub/src/, but not: dist, build, **/node_modules, **/test/, **/test-utils/, **/__tests__/, **/__mocks__/, **/*.test.ts, **/*.spec.ts, **/test/**/*.ts, examples/, docs/, posts/, packages/bun/src/serve.ts, packages/bun/src/websocket.ts, packages/core/src/logger.ts, packages/core/src/throttle.ts, packages/core/src/utils.ts
  zod: any of: packages/zod/src/, but not: dist, build, **/node_modules, **/test/, **/test-utils/, **/__tests__/, **/__mocks__/, **/*.test.ts, **/*.spec.ts, **/test/**/*.ts, examples/, docs/, posts/, packages/bun/src/serve.ts, packages/bun/src/websocket.ts, packages/core/src/logger.ts, packages/core/src/throttle.ts, packages/core/src/utils.ts
  valibot: any of: packages/valibot/src/, but not: dist, build, **/node_modules, **/test/, **/test-utils/, **/__tests__/, **/__mocks__/, **/*.test.ts, **/*.spec.ts, **/test/**/*.ts, examples/, docs/, posts/, packages/bun/src/serve.ts, packages/bun/src/websocket.ts, packages/core/src/logger.ts, packages/core/src/throttle.ts, packages/core/src/utils.ts
  adapters: any of: packages/adapters/src/, but not: dist, build, **/node_modules, **/test/, **/test-utils/, **/__tests__/, **/__mocks__/, **/*.test.ts, **/*.spec.ts, **/test/**/*.ts, examples/, docs/, posts/, packages/bun/src/serve.ts, packages/bun/src/websocket.ts, packages/core/src/logger.ts, packages/core/src/throttle.ts, packages/core/src/utils.ts
