Repository kriasoft/ws-kit: changes, and which Codecov flags are due for each by the changed paths.
All: core, bun, cloudflare-do, client, middleware, redis-pubsub, zod, valibot, adapters

refactor: Migrate publish-failure-modes test to plugin-based architecture
  packages/core/test/features/publish-failure-modes.test.ts
Due: none

refactor: Standardize memory adapter to canonical memoryPubSub() function
  docs/specs/pubsub.md
  packages/bun/src/adapter.ts
  packages/core/test/features/publish-failure-modes.test.ts
  packages/core/test/features/publish-origin.test.ts
  packages/core/test/features/server.test.ts
  packages/core/test/router.test.ts
  packages/core/test/types/index.test.ts
  packages/pubsub/README.md
  packages/pubsub/src/adapters/memory.ts
  packages/pubsub/src/index.ts
  packages/pubsub/src/test-utils.ts
Due: bun

refactor: Separate rate limiter logic into dedicated limiter.ts module
  packages/memory/src/index.ts
  packages/memory/src/limiter.ts
Due: none

refactor: Clarify testing module naming for consistency
  packages/core/src/testing/fake-clock.ts
  packages/core/src/testing/index.ts
  packages/core/src/testing/test-adapter.ts
  packages/core/src/testing/test-harness.ts
  packages/core/src/testing/test-websocket.ts
  packages/core/src/testing/types.ts
  packages/pubsub/src/internal.ts
  packages/pubsub/src/test-utils.ts
Due: core

refactor: Standardize testing module types and websocket bridge integration
  packages/core/src/testing/test-adapter.ts
  packages/core/src/testing/test-harness.ts
  packages/core/src/testing/test-websocket.ts
  packages/core/src/testing/types.ts
  packages/core/test/testing-harness/test-router-basic.test.ts
Due: core

refactor: Rename TConn to TContext for clarity
  docs/adr/024-unified-pubsub-adapter-optional-lifecycle.md
  docs/adr/025-validator-plugins-configurable.md
  docs/specs/pubsub.md
  packages/core/src/testing/act.ts
  packages/pubsub/src/core/topics.ts
  packages/pubsub/src/middleware.ts
  packages/valibot/test/types/validator-plugin-narrowing.test.ts
Due: core

fix: Replace setImmediate with proper clock.flush() in test harness
  packages/core/src/testing/test-harness.ts
Due: core

feat: Implement pub/sub observer pattern and canonical plugin API
  CLAUDE.md
  docs/adr/024-unified-pubsub-adapter-optional-lifecycle.md
  docs/adr/025-validator-plugins-configurable.md
  docs/specs/pubsub.md
  packages/bun/src/adapter.ts
  packages/core/src/capabilities/pubsub/adapter.ts
  packages/core/src/testing/test-harness.ts
  packages/core/src/testing/types.ts
  packages/core/test/features/publish-failure-modes.test.ts
  packages/core/test/features/pubsub-capture.test.ts
  packages/core/test/features/server.test.ts
  packages/core/test/integration/basic-usage.test.ts
  packages/memory/src/pubsub.ts
  packages/pubsub/README.md
  packages/pubsub/src/adapters/memory.ts
  packages/pubsub/src/index.ts
  packages/pubsub/src/internal.ts
  packages/pubsub/src/plugin.ts
  packages/pubsub/src/types.ts
  packages/pubsub/test/features/plugin-delivery-orchestration.test.ts
  packages/pubsub/test/features/runtime-capability-gating.test.ts
  packages/pubsub/test/plugin-api.test.ts
Due: core, bun

refactor: Remove duplicate pub/sub adapters from pubsub package
  packages/pubsub/src/adapters/legacy.ts
  packages/pubsub/src/adapters/memory.ts
  packages/pubsub/src/index.ts
  packages/pubsub/src/internal.ts
Due: none

fix: Make test harness connect() async to eliminate connection-open race
  packages/core/src/testing/test-harness.ts
  packages/core/src/testing/types.ts
  packages/core/test/features/connection-data-persistence.test.ts
  packages/core/test/features/dispatch.test.ts
  packages/core/test/features/pubsub-capture.test.ts
  packages/core/test/integration/fire-and-forget-messaging.test.ts
  packages/core/test/integration/handler-routing.test.ts
  packages/core/test/testing-harness/test-router-basic.test.ts
Due: core

refactor: Replace private method hack with adapter-driven initialData seeding
  packages/core/src/core/router.ts
  packages/core/src/testing/test-adapter.ts
  packages/core/src/testing/test-harness.ts
  packages/core/src/testing/test-websocket.ts
  packages/core/src/ws/platform-adapter.ts
Due: core

feat: Add headers persistence, raw frame capture, and strict mode to test harness
  packages/core/src/testing/test-adapter.ts
  packages/core/src/testing/test-harness.ts
  packages/core/src/testing/test-websocket.ts
  packages/core/src/testing/types.ts
  packages/core/test/testing-harness/test-router-basic.test.ts
Due: core

feat: Add public router.observe() API for testing and monitoring
  packages/core/src/core/router.ts
  packages/core/src/core/types.ts
  packages/core/src/engine/dispatch.ts
  packages/core/src/index.ts
  packages/core/src/testing/index.ts
  packages/core/src/testing/test-harness.ts
  packages/core/test/features/observer-benchmark.test.ts
  packages/core/test/features/router-observe.test.ts
  packages/pubsub/src/plugin.ts
Due: core

chore: Update lockfile and package versions
  bun.lock
  package.json
  packages/cloudflare/package.json
Due: none

refactor: consolidate rate limiting into @ws-kit/rate-limit package
  bun.lock
  packages/core/src/capabilities/pubsub/adapter.ts
  packages/core/src/capabilities/pubsub/index.ts
  packages/memory/package.json
  packages/memory/src/limiter.ts
  packages/memory/tsconfig.json
  packages/memory/tsconfig.test.json
  packages/middleware/src/index.ts
  packages/middleware/test/rate-limit.test.ts
  packages/middleware/tsconfig.json
  packages/rate-limit/README.md
  packages/rate-limit/package.json
  packages/rate-limit/src/index.ts
  packages/rate-limit/src/keys.ts
  packages/rate-limit/src/middleware.ts
  packages/rate-limit/src/types.ts
  packages/rate-limit/test/rate-limit.test.ts
  packages/rate-limit/tsconfig.json
  packages/rate-limit/tsconfig.test.json
  packages/redis/package.json
  packages/redis/src/index.ts
  tsconfig.json
  tsconfig.tests.json
Due: core, middleware

fix: resolve TypeScript errors with exactOptionalPropertyTypes
  packages/core/package.json
  packages/core/src/capabilities/pubsub/adapter.ts
  packages/core/src/context/base-context.ts
  packages/core/src/context/event-context.ts
  packages/core/src/context/rpc-context.ts
  packages/core/src/core/router.ts
  packages/core/src/engine/dispatch.ts
  packages/core/src/error/error.ts
  packages/core/src/testing/test-adapter.ts
  packages/core/src/testing/test-harness.ts
  packages/core/src/testing/test-websocket.ts
  packages/core/src/testing/types.ts
  packages/core/src/utils/pipe.ts
  packages/core/tsconfig.json
  packages/memory/tsconfig.test.json
Due: core

fix: complete packages/core TypeScript type fixes
  packages/core/src/core/createRouter.ts
  packages/core/src/core/router.ts
  packages/core/src/core/types.ts
  packages/core/src/error/error.ts
  packages/core/src/plugin/types.ts
  packages/core/src/testing/act.ts
  packages/core/src/testing/test-websocket.ts
  packages/core/src/testing/types.ts
  packages/memory/src/index.d.ts.map
  packages/memory/src/limiter.d.ts.map
  packages/memory/src/pubsub.d.ts.map
Due: core

refactor: add internal router access patterns and update README documentation
  README.md
  docs/adr/026-internal-router-access-patterns.md
  docs/specs/test-requirements.md
  packages/core/package.json
  packages/core/src/core/createRouter.ts
  packages/core/src/core/router.ts
  packages/core/src/core/symbols.ts
  packages/core/src/engine/dispatch.ts
  packages/core/src/index.ts
  packages/core/src/internal.ts
  packages/core/src/testing/test-adapter.ts
  packages/core/src/testing/test-harness.ts
  packages/core/src/testing/types.ts
  packages/core/test/features/plugin-system.test.ts
  packages/core/test/features/publish-origin.test.ts
  packages/core/test/router.test.ts
  packages/pubsub/src/plugin.ts
  packages/valibot/src/plugin.ts
  packages/zod/src/plugin.ts
Due: core, zod, valibot

docs: update for schema-driven type inference (ADR-023)
  docs/adr/023-schema-driven-type-inference.md
  docs/guides/getting-started-composition.md
  docs/guides/schema-driven-design.md
  docs/patterns/composition.md
  examples/quick-start/chat.ts
  packages/bun/src/handler.ts
  packages/bun/src/serve.ts
  packages/cloudflare/src/handler.ts
  packages/core/test/types/router-interface.test.ts
  packages/memory/src/pubsub.ts
  packages/zod/test/types/schema-driven-inference.ts
Due: bun

feat(core): Plugin architecture redesign - Full implementation
  docs/adr/028-plugin-architecture-final-design.md
  docs/plugin-author-guide.md
  docs/proposals/plugin-architecture.md
  packages/core/package.json
  packages/core/src/core/router.ts
  packages/core/src/plugin/capabilities.ts
  packages/core/src/plugin/define.ts
  packages/core/src/plugin/index.ts
  packages/core/src/plugin/types.ts
  packages/core/src/testing/index.ts
  packages/core/src/testing/plugin.ts
  packages/core/test/features/plugin-composition.test.ts
  packages/core/test/features/plugin-semantic-layer.test.ts
  packages/core/test/testing/mock-plugin.test.ts
  packages/core/test/types/semantic-capability-layer.test.ts
  packages/pubsub/src/plugin.ts
  packages/valibot/src/plugin.ts
  packages/zod/src/plugin.ts
Due: core, zod, valibot

fix(pubsub,core): Resolve TypeScript type errors in plugin architecture
  packages/core/src/capabilities/pubsub/index.ts
  packages/core/src/core/router.ts
  packages/pubsub/src/compose.ts
  packages/pubsub/src/core/topics.ts
  packages/pubsub/src/index.ts
  packages/pubsub/src/internal.ts
  packages/pubsub/src/middleware.ts
  packages/pubsub/src/plugin.ts
  packages/pubsub/src/test-utils.ts
  packages/redis/src/pubsub.ts
  packages/redis/tsconfig.json
Due: core

fix(core,zod,valibot,pubsub): Implement capability-gated type narrowing for validation & pubsub
  packages/core/src/core/router.ts
  packages/pubsub/src/plugin.ts
  packages/pubsub/test/types/pubsub-narrowing.test.ts
  packages/valibot/src/plugin.ts
  packages/zod/src/plugin.ts
Due: core, zod, valibot

chore: update dependencies (pre-commit hook)
  bun.lock
  package.json
  packages/cloudflare/package.json
Due: none

refactor(core,pubsub): ADR-029 alignment and deprecation cleanup
  docs/adr/029-context-enhancer-registry-plugin-safety.md
  docs/adr/README.md
  packages/core/src/core/router.ts
  packages/core/src/error.ts
  packages/core/src/index.ts
  packages/core/src/internal.ts
  packages/core/src/plugin/define.ts
  packages/core/src/plugin/types.ts
  packages/core/test/types/internal-symbols.test.ts
  packages/pubsub/test/features/runtime-capability-gating.test.ts
Due: core

feat(core): Plugin architecture redesign - Full implementation
  packages/pubsub/src/plugin.ts
Due: none

fix(core,zod,valibot): Resolve TypeScript errors in plugin architecture (ADR-024)
  docs/proposals/enhancer-registry.md
Due: none

feat(core,zod): implement ctx.error() RPC error response method
  packages/core/src/context/rpc-context.ts
  packages/zod/src/plugin.ts
  packages/zod/test/features/error-response.test.ts
Due: core, zod

docs: rename correlate to preserveCorrelation for SendOptions
  CLAUDE.md
  docs/adr/012-rpc-minimal-reliable.md
  docs/adr/030-context-methods-design.md
  docs/specs/README.md
  docs/specs/context-methods.md
  docs/specs/validation.md
  packages/core/src/plugin/types.ts
  packages/valibot/src/index.ts
  packages/valibot/src/plugin.ts
  packages/valibot/test/types/composition.test.ts
  packages/valibot/test/types/index.test.ts
  packages/valibot/test/types/validator-plugin-narrowing.test.ts
  packages/zod/src/index.ts
  packages/zod/src/plugin.ts
  packages/zod/test/types/index.test.ts
  packages/zod/test/types/validator-plugin-narrowing.test.ts
Due: core, zod, valibot

fix(core,zod,valibot,pubsub): Implement capability-gated type narrowing for validation & pubsub
  packages/pubsub/src/plugin.ts
Due: none

refactor(core,pubsub): ADR-029 alignment and deprecation cleanup
  docs/proposals/enhancer-registry.md
Due: none

feat(core,zod): add SendOptions to ctx.send() with backpressure & correlation support
  packages/core/src/context/event-context.ts
  packages/core/src/context/types.ts
  packages/zod/src/plugin.ts
  packages/zod/test/features/send-options.test.ts
Due: core, zod

fix: export SendOptions and ReplyOptions from core, fix type signatures
  packages/core/src/index.ts
  packages/zod/src/plugin.ts
  packages/zod/test/features/error-response.test.ts
Due: core, zod

feat(core,zod): add ProgressOptions with {throttleMs} for rate-limiting progress updates
  packages/core/src/context/rpc-context.ts
  packages/core/src/context/types.ts
  packages/core/src/index.ts
  packages/zod/src/plugin.ts
  packages/zod/test/features/progress-throttle.test.ts
Due: core, zod

feat(core,zod): add ReplyOptions to ctx.reply/error/progress with {waitFor}, {signal}, {meta} support
  packages/core/src/context/rpc-context.ts
  packages/core/src/context/types.ts
  packages/zod/src/plugin.ts
  packages/zod/test/features/reply-options.test.ts
Due: core, zod

refactor: create @ws-kit/plugins package and move plugins from core
  docs/adr/031-plugin-adapter-architecture.md
  docs/adr/README.md
  docs/guides/README.md
  docs/guides/rpc.md
  docs/proposals/rpc.md
  docs/specs/README.md
  docs/specs/adapters.md
  docs/specs/plugins.md
  packages/core/package.json
  packages/core/src/adapters/pubsub/memory.ts
  packages/core/src/adapters/pubsub/types.ts
  packages/core/src/adapters/rate-limit/memory.ts
  packages/core/src/adapters/rate-limit/types.ts
  packages/core/src/index.ts
  packages/core/src/plugins/index.ts
  packages/core/src/plugins/messaging/index.ts
  packages/core/src/plugins/messaging/types.ts
  packages/core/src/plugins/pubsub/types.ts
  packages/core/src/plugins/rate-limit/types.ts
  packages/core/src/plugins/rpc/index.ts
  packages/core/src/plugins/rpc/types.ts
  packages/core/src/plugins/validation/types.ts
  packages/core/test/features/publish-typed.test.ts
  packages/core/test/plugins/composition.test.ts
  packages/core/test/plugins/messaging/send-basic.test.ts
  packages/core/test/plugins/rpc/reply-basic.test.ts
  packages/plugins/package.json
  packages/plugins/src/index.ts
  packages/plugins/src/messaging/index.ts
  packages/plugins/src/messaging/types.ts
  packages/plugins/src/pubsub/index.ts
  packages/plugins/src/pubsub/types.ts
  packages/plugins/src/rpc/index.ts
  packages/plugins/src/rpc/types.ts
  packages/valibot/src/plugin.ts
  packages/zod/src/plugin.ts
Due: core, zod, valibot

Path conditions:
  core: any of: packages/core/src/, but not: dist, build, **/node_modules, **/test/, **/test-utils/, **/__tests__/, **/__mocks__/, **/*.test.ts, **/*.spec.ts, **/test/**/*.ts, examples/, docs/, posts/, packages/bun/src/serve.ts, packages/bun/src/websocket.ts, packages/core/src/logger.ts, packages/core/src/throttle.ts, packages/core/src/utils.ts
  bun: any of: packages/bun/src/, but not: dist, build, **/node_modules, **/test/, **/test-utils/, **/__tests__/, **/__mocks__/, **/*.test.ts, **/*.spec.ts, **/test/**/*.ts, examples/, docs/, posts/, packages/bun/src/serve.ts, packages/bun/src/websocket.ts, packages/core/src/logger.ts, packages/core/src/throttle.ts, packages/core/src/utils.ts
  cloudflare-do: any of: packages/cloudflare-do/src/, but not: dist, build, **/node_modules, **/test/, **/test-utils/, **/__tests__/, **/__mocks__/, **/*.test.ts, **/*.spec.ts, **/test/**/*.ts, examples/, docs/, posts/, packages/bun/src/serve.ts, packages/bun/src/websocket.ts, packages/core/src/logger.ts, packages/core/src/throttle.ts, packages/core/src/utils.ts
  client: any of: packages/client/src/, but not: dist, build, **/node_modules, **/test/, **/test-utils/, **/__tests__/, **/__mocks__/, **/*.test.ts, **/*.spec.ts, **/test/**/*.ts, examples/, docs/, posts/, packages/bun/src/serve.ts, packages/bun/src/websocket.ts, packages/core/src/logger.ts, packages/core/src/throttle.ts, packages/core/src/utils.ts
  middleware: any of: packages/middleware/src/, but not: dist, build, **/node_modules, **/test/, **/test-utils/, **/__tests__/, **/__mocks__/, **/*.test.ts, **/*.spec.ts, **/test/**/*.ts, examples/, docs/, posts/, packages/bun/src/serve.ts, packages/bun/src/websocket.ts, packages/core/src/logger.ts, packages/core/src/throttle.ts, packages/core/src/utils.ts
  redis-pubsub: any of: packages/redis-pubsub/src/, but not: dist, build, **/node_modules, **/test/, **/test-utils/, **/__tests__/, **/__mocks__/, **/*.test.ts, **/*.spec.ts, **/test/**/*.ts, examples/, docs/, posts/, packages/bun/src/serve.ts, packages/bun/src/websocket.ts, packages/core/src/logger.ts, packages/core/src/throttle.ts, packages/core/src/utils.ts
  zod: any of: packages/zod/src/, but not: dist, build, **/node_modules, **/test/, **/test-utils/, **/__tests__/, **/__mocks__/, **/*.test.ts, **/*.spec.ts, **/test/**/*.ts, examples/, docs/, posts/, packages/bun/src/serve.ts, packages/bun/src/websocket.ts, packages/core/src/logger.ts, packages/core/src/throttle.ts, packages/core/src/utils.ts
  valibot: any of: packages/valibot/src/, but not: dist, build, **/node_modules, **/test/, **/test-utils/, **/__tests__/, **/__mocks__/, **/*.test.ts, **/*.spec.ts, **/test/**/*.ts, examples/, docs/, posts/, packages/bun/src/serve.ts, packages/bun/src/websocket.ts, packages/core/src/logger.ts, packages/core/src/throttle.ts, packages/core/src/utils.ts
  adapters: any of: packages/adapters/src/, but not: dist, build, **/node_modules, **/test/, **/test-utils/, **/__tests__/, **/__mocks__/, **/*.test.ts, **/*.spec.ts, **/test/**/*.ts, examples/, docs/, posts/, packages/bun/src/serve.ts, packages/bun/src/websocket.ts, packages/core/src/logger.ts, packages/core/src/throttle.ts, packages/core/src/utils.ts
