Repository kriasoft/ws-kit: changes, and which Codecov flags are due for each by the changed paths.
All: core, bun, cloudflare-do, client, middleware, redis-pubsub, zod, valibot, adapters

.codecov.yml:

# .codecov.yml â€” Coverage configuration for WS-Kit
# Optimized for a public TypeScript monorepo with multiple platform/validator adapters

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 1

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 2%
        base: auto
    patch:
      default:
        target: 77%
        threshold: 1%

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: no

# Exclude test, build, and documentation artifacts from coverage calculations
ignore:
  - "dist"
  - "build"
  - "**/node_modules"
  - "**/test/"
  - "**/test-utils/"
  - "**/__tests__/"
  - "**/__mocks__/"
  - "**/*.test.ts"
  - "**/*.spec.ts"
  - "**/test/**/*.ts"
  - "examples/"
  - "docs/"
  - "posts/"
  # Platform-specific integration code not covered by unit tests
  - "packages/bun/src/serve.ts" # Bun server initialization and HTTP integration
  - "packages/bun/src/websocket.ts" # Bun WebSocket platform bindings
  # Utilities and infrastructure not critical to core business logic
  - "packages/core/src/logger.ts" # Logging infrastructure
  - "packages/core/src/throttle.ts" # Throttling utilities (not currently in use)
  - "packages/core/src/utils.ts" # Helper utilities with limited usage

# Track coverage separately per package for visibility in the Codecov UI
flags:
  # Core router (foundation for all packages)
  core:
    paths:
      - "packages/core/src/"
    carryforward: yes

  # Platform adapters
  bun:
    paths:
      - "packages/bun/src/"
  cloudflare-do:
    paths:
      - "packages/cloudflare-do/src/"

  # Client SDK
  client:
    paths:
      - "packages/client/src/"

  # Middleware utilities
  middleware:
    paths:
      - "packages/middleware/src/"

  # PubSub adapters
  redis-pubsub:
    paths:
      - "packages/redis-pubsub/src/"

  # Validator adapters
  zod:
    paths:
      - "packages/zod/src/"
  valibot:
    paths:
      - "packages/valibot/src/"

  # Shared adapter contracts
  adapters:
    paths:
      - "packages/adapters/src/"

fix: switch Codecov to OIDC authentication
  .github/workflows/ci.yml
Due: none

fix: switch Codecov to OIDC authentication (#49)
  .github/workflows/ci.yml
Due: none

chore: version and release packages
  .changeset/proud-mails-jump.md
  .changeset/quick-islands-sip.md
  .changeset/shaky-melons-smile.md
  .changeset/shiny-games-warn.md
  .changeset/tame-dragons-share.md
  examples/bun-zod-chat/CHANGELOG.md
  examples/bun-zod-chat/package.json
  packages/adapters/CHANGELOG.md
  packages/adapters/package.json
  packages/bun/CHANGELOG.md
  packages/bun/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/cloudflare-do/CHANGELOG.md
  packages/cloudflare-do/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/middleware/CHANGELOG.md
  packages/middleware/package.json
  packages/redis-pubsub/CHANGELOG.md
  packages/redis-pubsub/package.json
  packages/valibot/CHANGELOG.md
  packages/valibot/package.json
  packages/zod/CHANGELOG.md
  packages/zod/package.json
Due: none

chore: version and release packages (#50)
  .changeset/proud-mails-jump.md
  .changeset/quick-islands-sip.md
  .changeset/shaky-melons-smile.md
  .changeset/shiny-games-warn.md
  .changeset/tame-dragons-share.md
  examples/bun-zod-chat/CHANGELOG.md
  examples/bun-zod-chat/package.json
  packages/adapters/CHANGELOG.md
  packages/adapters/package.json
  packages/bun/CHANGELOG.md
  packages/bun/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/cloudflare-do/CHANGELOG.md
  packages/cloudflare-do/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/middleware/CHANGELOG.md
  packages/middleware/package.json
  packages/redis-pubsub/CHANGELOG.md
  packages/redis-pubsub/package.json
  packages/valibot/CHANGELOG.md
  packages/valibot/package.json
  packages/zod/CHANGELOG.md
  packages/zod/package.json
Due: none

docs: clarify unsubscribe semantics and explicit batch deduplication
  CLAUDE.md
  docs/adr/010-throttled-broadcast-pattern.md
  docs/adr/018-broadcast-method-naming.md
  docs/adr/019-ctx-publish-convenience-method.md
  docs/adr/022-namespace-first-pubsub-api.md
  docs/adr/README.md
  docs/advanced-usage.md
  docs/core-concepts.md
  docs/specs/README.md
  docs/specs/broadcasting.md
  docs/specs/pubsub.md
  docs/specs/router.md
  docs/specs/rules.md
  docs/specs/schema.md
  packages/core/src/index.ts
  packages/core/src/pubsub-error.ts
  packages/core/src/router.ts
  packages/core/src/topics-impl.ts
  packages/core/src/types.ts
  packages/core/test/features/publish-exclude-self.test.ts
  packages/core/test/features/publish-failure-modes.test.ts
  packages/core/test/features/publish-origin.test.ts
  packages/core/test/features/publish-typed.test.ts
  packages/redis-pubsub/src/pubsub.ts
  packages/redis-pubsub/src/types.ts
  packages/redis-pubsub/test/features.test.ts
Due: core, redis-pubsub

refactor: migrate to async Topics instance API
  examples/cloudflare-sharding/server.ts
  packages/core/src/router.ts
  packages/core/src/topics-impl.ts
  packages/core/test/features/publish-failure-modes.test.ts
Due: core

docs: document async Topics instance API migration
  CLAUDE.md
  README.md
  docs/adr/009-error-handling-and-lifecycle-hooks.md
  docs/adr/019-ctx-publish-convenience-method.md
  docs/adr/020-send-method-naming.md
  docs/adr/022-namespace-first-pubsub-api.md
  docs/advanced-usage.md
  docs/api-reference.md
  docs/core-concepts.md
  docs/examples.md
  docs/getting-started.md
  docs/guides/on-vs-rpc.md
  docs/index.md
  docs/specs/README.md
  docs/specs/adapters.md
  docs/specs/pubsub.md
  docs/specs/router.md
  docs/valibot-integration.md
  examples/bun-zod-chat/index.ts
  examples/quick-start/chat.ts
  packages/bun/README.md
  packages/cloudflare-do/README.md
  packages/core/src/router.ts
  packages/core/src/topics-impl.ts
  packages/core/src/types.ts
  packages/core/test/features/topics-atomic-batch.test.ts
  posts/2025-05-04_building-websocket-router.md
Due: core

docs: standardize topic terminology and improve publish error semantics
  docs/adr/019-ctx-publish-convenience-method.md
  docs/api-reference.md
  docs/core-concepts.md
  docs/specs/pubsub.md
  packages/core/src/router.ts
  packages/core/src/types.ts
  packages/valibot/src/router.ts
  packages/zod/src/router.ts
Due: core, zod, valibot

docs: add Topics immutability invariant with runtime enforcement
  docs/adr/022-namespace-first-pubsub-api.md
  docs/specs/pubsub.md
  packages/core/src/topics-impl.ts
Due: core

feat(core): add Topics.replace() for atomic subscription resync
  docs/specs/pubsub.md
  packages/core/src/topics-impl.ts
  packages/core/src/types.ts
  packages/core/test/features/topics-replace.test.ts
Due: core

fix(core): prevent mutable Set leak in TopicsImpl.forEach()
  docs/specs/pubsub.md
  packages/core/test/features/topics-replace.test.ts
Due: none

feat(core): add maxTopicsPerConnection limit enforcement
  packages/core/src/router.ts
  packages/core/src/topics-impl.ts
  packages/core/src/types.ts
  packages/core/test/features/topics-limit.test.ts
Due: core

test(core): strengthen error assertions in soft-noop semantics tests
  packages/core/test/features/topics-soft-noop.test.ts
Due: none

fix(core): resolve ESLint and TypeScript errors in router and topics
  packages/core/src/router.ts
  packages/core/src/topics-impl.ts
Due: core

feat(core): clarify pubsub validation order and introduce machine-readable error contract
  docs/specs/pubsub.md
  packages/core/src/index.ts
  packages/core/src/router.ts
  packages/core/src/topics-impl.ts
  packages/core/src/types.ts
  packages/core/test/features/router-merge.test.ts
  packages/core/test/features/topics-iterators.test.ts
  packages/core/test/features/topics-router-integration.test.ts
  packages/core/test/features/topics-validation-reason.test.ts
  packages/core/test/router-lifecycle.test.ts
  packages/core/test/router-limits.test.ts
Due: core

refactor(pubsub): standardize "scope" to "topic" for consistency
  docs/adr/009-error-handling-and-lifecycle-hooks.md
  docs/specs/adapters.md
  docs/specs/pubsub.md
  docs/specs/router.md
  examples/cloudflare-sharding/README.md
  examples/cloudflare-sharding/server.ts
  packages/bun/src/types.ts
  packages/cloudflare-do/README.md
  packages/cloudflare-do/src/index.ts
  packages/cloudflare-do/src/sharding.ts
  packages/cloudflare-do/test/sharding.test.ts
  packages/valibot/src/router.ts
  packages/zod/src/router.ts
Due: bun, cloudflare-do, zod, valibot

fix(core): establish adapter-first ordering and fix replace() rollback sequencing
  docs/specs/pubsub.md
  packages/core/src/topics-impl.ts
  packages/core/test/features/topics-adapter-first-ordering.test.ts
  packages/core/test/features/topics-error-recovery.test.ts
  packages/core/test/features/topics-replace.test.ts
Due: core

fix(lint): use T[] syntax instead of Array<T> per eslint-array-type rule
  packages/core/test/features/topics-iterators.test.ts
Due: none

docs: Rename 'adapter-first ordering' to 'adapter-before-mutation' in pubsub spec
  docs/adr/009-error-handling-and-lifecycle-hooks.md
  docs/adr/022-namespace-first-pubsub-api.md
  docs/advanced-usage.md
  docs/api-reference.md
  docs/getting-started.md
  docs/invariants.md
  docs/specs/adapters.md
  docs/specs/pubsub.md
  docs/specs/rules.md
  packages/bun/README.md
  packages/core/src/index.ts
  packages/core/src/pubsub-error.ts
  packages/core/src/topics-impl.ts
  packages/core/src/types.ts
  packages/core/src/use-pubsub.ts
Due: core

feat(core): add AbortSignal cancellation support to topic mutation operations
  docs/specs/pubsub.md
  packages/core/src/index.ts
  packages/core/src/pubsub-error.ts
  packages/core/src/topics-impl.ts
  packages/core/src/types.ts
  packages/core/src/use-pubsub.ts
  packages/core/test/features/topics-abort-signal.test.ts
Due: core

refactor(core): consolidate topic validation constants to canonical limits.ts
  docs/adr/022-namespace-first-pubsub-api.md
  docs/specs/pubsub.md
  packages/core/src/index.ts
  packages/core/src/limits.ts
  packages/core/src/topics-impl.ts
  packages/core/test/features/topics-router-integration.test.ts
  packages/core/test/features/topics-validation-reason.test.ts
Due: core

fix: correct relative link in invariants.md
  docs/invariants.md
Due: none

feat(examples/quick-start): add workspace manifest, dev setup, and smoke test
  bun.lock
  examples/quick-start/README.md
  examples/quick-start/index.ts
  examples/quick-start/package.json
  examples/quick-start/smoke.test.ts
Due: none

chore(pkg): add conditional export for bun
  packages/adapters/package.json
  packages/bun/package.json
  packages/client/package.json
  packages/cloudflare-do/package.json
  packages/core/package.json
  packages/middleware/package.json
  packages/redis-pubsub/package.json
  packages/valibot/package.json
  packages/zod/package.json
  scripts/release.ts
Due: none

refactor(typescript): Improve project references and separate test type-checking
  package.json
  packages/adapters/tsconfig.json
  packages/adapters/tsconfig.test.json
  packages/bun/tsconfig.json
  packages/bun/tsconfig.test.json
  packages/client/tsconfig.json
  packages/client/tsconfig.test.json
  packages/cloudflare-do/tsconfig.json
  packages/cloudflare-do/tsconfig.test.json
  packages/core/tsconfig.json
  packages/core/tsconfig.test.json
  packages/middleware/tsconfig.json
  packages/middleware/tsconfig.test.json
  packages/redis-pubsub/tsconfig.json
  packages/redis-pubsub/tsconfig.test.json
  packages/valibot/tsconfig.json
  packages/valibot/tsconfig.test.json
  packages/zod/tsconfig.json
  packages/zod/tsconfig.test.json
  tsconfig.json
  tsconfig.tests.json
Due: none

chore(deps): migrate from @types/bun to bun-types
  bun.lock
  package.json
  packages/adapters/package.json
  packages/bun/package.json
  packages/client/package.json
  packages/cloudflare-do/package.json
  packages/core/package.json
  packages/middleware/package.json
  packages/redis-pubsub/package.json
  packages/valibot/package.json
  packages/zod/package.json
  packages/zod/tsconfig.test.json
Due: none

docs: add new router proposal
  docs/proposals/router.md
Due: none

feat: implement schema-driven type inference and composition patterns
  bun.lock
  docs/adr/023-schema-driven-type-inference.md
  docs/adr/README.md
  docs/guides/getting-started-composition.md
  docs/guides/schema-driven-design.md
  docs/patterns/composition.md
  docs/specs/router.md
  docs/specs/test-requirements.md
  examples/quick-start/chat.ts
  examples/quick-start/index.ts
  package.json
  packages/bun/src/serve.ts
  packages/core/src/index.ts
  packages/core/src/router.ts
  packages/core/src/types.ts
  packages/valibot/test/types/composition.test.ts
  packages/valibot/test/types/router-inference.test.ts
  packages/zod/src/index.ts
  packages/zod/src/narrower.ts
  packages/zod/src/schema.ts
  packages/zod/test/types/composition.test.ts
  packages/zod/test/types/index.test.ts
  packages/zod/test/types/router-inference.test.ts
  packages/zod/test/types/schema-driven-inference.ts
Due: core, zod

refactor: improve RouteTable with input validation, helpers, and chainability
  packages/core/src/core/route-table.ts
  packages/core/src/core/router.ts
  packages/core/test/core/route-table.test.ts
Due: core

fix: persist connection data across messages using WeakMap
  packages/core/src/core/router.ts
  packages/core/test/features/connection-data-persistence.test.ts
Due: core

fix: improve router merge/mount resilience and connection cleanup
  packages/core/src/core/router.ts
  packages/core/src/core/symbols.ts
  packages/core/src/engine/lifecycle.ts
Due: core

feat: Add @ws-kit/pubsub package
  packages/pubsub/README.md
  packages/pubsub/package.json
  packages/pubsub/src/index.ts
  packages/pubsub/tsconfig.json
  packages/pubsub/tsconfig.test.json
  tsconfig.json
Due: none

refactor: Migrate pub/sub primitives to dedicated package with organized structure
  packages/core/src/internal/router.ts
  packages/core/src/internal/use-pubsub.ts
  packages/pubsub/README.md
  packages/pubsub/package.json
  packages/pubsub/src/adapters/memory.ts
  packages/pubsub/src/core/constants.ts
  packages/pubsub/src/core/error.ts
  packages/pubsub/src/core/topics.ts
  packages/pubsub/src/index.ts
  packages/pubsub/src/internal.ts
  packages/pubsub/src/middleware.ts
  packages/pubsub/src/plugin.ts
  packages/pubsub/src/types.ts
  packages/pubsub/tsconfig.test.json
Due: core

refactor: Complete pub/sub test migration and fix broken imports
  packages/core/src/internal/router.ts
  packages/core/test/features/publish-failure-modes.test.ts
  packages/core/test/features/publish-origin.test.ts
  packages/core/test/features/server.test.ts
  packages/core/test/features/topics-router-integration.test.ts
  packages/core/test/types/index.test.ts
  packages/pubsub/test/features/topics-abort-signal.test.ts
  packages/pubsub/test/features/topics-adapter-first-ordering.test.ts
  packages/pubsub/test/features/topics-atomic-batch.test.ts
  packages/pubsub/test/features/topics-error-recovery.test.ts
  packages/pubsub/test/features/topics-iterators.test.ts
  packages/pubsub/test/features/topics-limit.test.ts
  packages/pubsub/test/features/topics-replace.test.ts
  packages/pubsub/test/features/topics-soft-noop.test.ts
  packages/pubsub/test/features/topics-validation-reason.test.ts
Due: core

refactor: Move pub/sub implementations to dedicated @ws-kit/pubsub package
  packages/core/src/internal/router.ts
  packages/core/src/test/index.ts
  packages/core/src/test/test-harness.ts
  packages/core/test/features/publish-failure-modes.test.ts
  packages/core/test/features/publish-origin.test.ts
  packages/core/test/features/server.test.ts
  packages/core/test/pubsub/publish-subscribe.test.ts
  packages/core/test/router.test.ts
  packages/core/test/types/index.test.ts
  packages/pubsub/src/adapters/legacy.ts
  packages/pubsub/src/internal.ts
  packages/pubsub/src/test-utils.ts
Due: core

refactor: Consolidate adapters into unified package with sub-path exports
  bunfig.toml
  packages/adapters/package.json
  packages/adapters/src/index.ts
  packages/adapters/src/memory/index.ts
  packages/adapters/src/memory/pubsub.ts
  packages/pubsub/src/index.ts
Due: adapters

refactor: Remove meta from PublishOptions, consolidate in envelope only
  docs/adr/019-ctx-publish-convenience-method.md
  docs/api-reference.md
  docs/specs/pubsub.md
  packages/core/src/capabilities/pubsub/adapter.ts
  packages/core/test/features/publish-typed.test.ts
  packages/pubsub/src/plugin.ts
  packages/pubsub/src/types.ts
Due: core
